<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>482864372442-ffqtm84vtde1l9p76g2aoeeq9o1hce3o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482864372442-ffqtm84vtde1l9p76g2aoeeq9o1hce3o</string>
	<key>API_KEY</key>
	<string>AIzaSyDsXKe5D3chnKAe2HGlgh3qF6O1X_3Mwe4</string>
	<key>GCM_SENDER_ID</key>
	<string>482864372442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toDoAppGetx</string>
	<key>PROJECT_ID</key>
	<string>messanger-bcff7</string>
	<key>STORAGE_BUCKET</key>
	<string>messanger-bcff7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482864372442:ios:7ae6a935820036bf66e3e3</string>
</dict>
</plist>